aiohttp==0.20.2
alembic==0.8.4
chardet==2.3.0
dataset==0.6.1
decorator==4.0.9
Django==1.9
django-extensions==1.6.1
django-grappelli==2.7.3
django-material==0.5.1
django-sizefield==0.9
dropbox==4.0
imageio==1.5
ipython==4.0.1
ipython-genutils==0.1.0
Mako==1.0.3
MarkupSafe==0.23
moviepy==0.2.2.11
normality==0.2.4
numpy==1.11.0
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==3.1.0
psutil==4.0.0
ptyprocess==0.5
py==1.4.31
pytest==2.8.5
python-editor==0.5
PyVimeo==0.3.2
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.10
telepot==5.0
tqdm==4.4.1
traitlets==4.0.0
tweepy==3.5.0
urllib3==1.24.2
