alembic==0.8.4
dataset==0.6.1
decorator==4.0.6
Django==1.9
ipython==4.0.1
ipython-genutils==0.1.0
Mako==1.0.3
MarkupSafe==0.23
normality==0.2.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
python-editor==0.5
PyYAML==3.11
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.10
traitlets==4.0.0
